@charset "UTF-8";
*{
	box-sizing: border-box;
}
body{
	background-color: #333;
	color: white;
	font-family: Arial, sans-serif;
}
h2{
	color: white;
	text-align: center;
}
h4{
	margin: 0;
}
input[type=text], textarea, input[type="file"]{
	border-radius:5px;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	font-size: 1rem;
}
textarea{
	height: 300px;
}
form{
	margin: 0 auto;
}
.board-container {
	width: 750px;
	margin: 0 auto;
}