@charset "UTF-8";
*{
	box-sizing: border-box;
	font-family: "pretendard", sans-serif;
	font-style: normal;
}
body {
	margin: 0;
    background-color: #d2ddef;
    color: white;
   	background: url("../img/bg.jpg") no-repeat center top fixed;
}
h1, h3, h4, h5, h6, p {
	margin: 0;
}
h2 {
	color: #000;
	text-align: center;
	font-size: 35px;
}
h4 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 10px;
}
input {
	border-radius: 5px;
}
.container {
    margin: 20px auto;
    max-width: 900px;
    color: black;
    padding: 20px;
    border-radius: 5px;
}
.filters {
    margin-bottom: 10px;
}
.filters input {
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
}
.select{
	background-color: #969696;
	color: white;
}
.board-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.board-top input {
    border: 1px solid #ccc;
}
.board-top input[type="text"]{
	width: 100%;
	height: 55px;
	font-size: 18px;
	padding-left: 10px;
	outline: none;
}
.board-top input[type="text"]::placeholder {
	font-size: 18px;
}
.board-top .btn-img {
	background: url("../img/search.png") no-repeat center center;
	border: none;
	width: 32px;
	height: 32px;
	position: absolute;
	right: 10px;
	cursor: pointer;
}
.search-con {
	display: flex;
	width: 100%;
}
.search-box {
	position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
#write-btn {
	width: 20%;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #355beb;
    color: #fff;
    font-size: 18px;
    margin-left: 3%;
}

.list {
	background-color: white;
	width: 100%;
	border-radius: 5px;
	padding: 20px;
}
.content-box {
	background-color: #e9eef6;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    height: 90px;
    padding: 0 25px;
    cursor: pointer;
}
.content {
	display: flex;
	justify-content: space-between;
    align-items: center;
    height: 90px;
}
.content-box:hover {
	background-color: #dde4ef;
}
.b-type {
	color: #777c80;
}
.b-title {
	font-size: 24px;
    font-weight: 600;
    margin-left: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
}
.author {
	text-align: right;
	font-size: 17px;
    /* color: #898989; */
    min-width: 200px;
}
.page {
    text-align: center;
    margin-top: 10px;
}
.page a {
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	color: white;
	text-decoration: none;
	background-color: #abbffa;
}
a.active {
	background-color: #355beb;
}
.type-content{
	min-width: 120px;
}

.title-content{
	width: 100%;
    min-width: 100px;
}
