@charset "UTF-8";
*{
	box-sizing: border-box;
}
body{
	background: url("../img/bg.jpg") no-repeat center top fixed;
    font-family: "pretendard", sans-serif;
	font-style: normal;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
h2 {
	font-size: 26px;
}
p {
	font-size: 18px;
	margin-top: 10px;
}
a {
	font-size: 18px;
}
.container {
    max-width: 900px;
    margin: auto;
}
.post-box {
    position: relative;
    background-color: white;
    padding: 50px 30px;
    border-radius: 10px;
    margin: 50px auto;
}
.back{
	position: absolute;
    top: 6px;
    left: 12px;
    font-size: 30px;
    cursor: pointer;
    color: #969696;
}
.post-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-top p{
	font-size: 15px;
	color: #969696;
	margin-top: 5px;
	text-align: right;
}
hr {
    margin: 10px 0;
}
.info span{
	padding-right: 10px;
}
.contents {
	white-space:pre-wrap;
	margin-bottom: 50px;
}
.modify{
	display: flex;
	align-items: center;
    justify-content: flex-end;
}
.modify input[type="button"]{
	border-radius: 50px;
	color: #fff;
	border: none;
	width: 18%;
	height: 50px;
	cursor: pointer;
	text-align: center;
	background-color: #5550d0;
    font-size: 16px;
}



