@charset "UTF-8";
*{
	box-sizing: border-box;
}
body{
	background: url("../img/bg.jpg") no-repeat center top fixed;
    font-family: "pretendard", sans-serif;
	font-style: normal;
}
h2{
	color: #000;
	text-align: center;
	font-size: 35px;
}
.board-container {
	max-width: 900px;
	margin: 20px auto;
	padding: 20px;
}
form{
	margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px;
}
.title input{
    padding: 10px;
    border: 1px solid #ccc;
}
input[type=text], textarea, input[type="file"]{
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	font-size: 1rem;
}
.radio {
    display: flex;
    width: 100%;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
label {
	width: 100%;
	font-size: 18px;
	line-height: 2rem;
	padding: 0px 6px;
}
[type="radio"] {
	vertical-align: middle;
	appearance: none;
  	display: none;
}
input[type="radio"]:checked + span {
	background-color: #355beb;
	border: 1px solid #355beb;
	color: #fff;
}
.flex span {
	width: 100%;
	display: inline-block;
	font-size: 16px;
	line-height: 2rem;
	background-color: #fff;
	color: #969696;
	border-radius: 5px;
	border: 1px solid #969696;
	cursor: pointer;
}

.flex [type="radio"], span {
	vertical-align: middle;
}
.title input[type="text"]{
	width: 100%;
	margin-right: 7px;
	height: 55px;
}
textarea{
	height: 300px;
	resize: none;
	width: 100%;
}
.action {
	text-align: center;
}
.action button{
	border-radius: 50px;
	color: #fff;
	border: none;
	width: 20%;
	height: 55px;
	cursor: pointer;
	text-align: center;
	background-color: #355beb;
    font-size: 16px;
    margin-top: 30px;
}