@charset "UTF-8";
*{
	box-sizing: border-box;
	font-family: "pretendard", sans-serif;
	font-style: normal;
}
body {
	background-color: #000;
	margin: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 80%;
}
li {
	display: inline-block;
	margin-right: 5%;
}
li:last-child{
	margin-right: 0;
}
a {
	text-decoration: none;
	color: #373f73;
	font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}
a:hover {
	text-decoration: underline;
	color: #98a1c1;
}

.wrap {
	width: 100%;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header {
	max-width: 850px;
	margin: 0 auto;
	padding: 20px 0;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.none:hover {
	text-decoration: none;
	cursor: default;
	color: #373f73;
}
