@charset "UTF-8";
body {
	margin: 0;
	box-sizing: border-box;
	background: url("../img/bg.jpg") no-repeat center top fixed;
}
ul {
	padding: 0;
	list-style: none;
	margin-top: 80px;
}
li {
	display: inline-block;
	font-size: 1.5rem;
}
a {
	text-decoration: none;
	color: #000;
}
.content-box {
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 110px;
}
.slide {
	display: flex;
	align-items: center;
}
button {
	background-color: #355beb;
	color: #fff;
	width: 280px;
	height: 80px;
	border-radius: 100px;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
}
span {
	position: absolute;
	bottom: 35px;
    right: 45px;
    color: #fff;
}