@charset "UTF-8";
*{
	box-sizing: border-box;
}
body {
    background: url("../img/bg.jpg") no-repeat center top fixed;
    font-family: "pretendard", sans-serif;
	font-style: normal;
	margin: 0;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
h2{
	text-align: center;
	font-size: 35px;
	margin-bottom: 30px;
	margin-top: 20px;
}
.container {
    max-width: 1000px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.container div{
	margin-bottom: 15px;
}
.container h3{
	margin-bottom: 7px;
}
input[type="text"]{
	width: 100%;
	height: 50px;
}
textarea {
	width: 100%;
	height: 450px;
}
.container .modify{
	text-align: center;
	margin-bottom: 0;
}
.modify input[type="button"]{
	border-radius: 50px;
	background-color: #355beb;
	color: #fff;
	border: none;
	width: 120px;
	height: 40px;
	margin-left: 5px;
	cursor: pointer;
}

.modify input[type="submit"]{
	border-radius: 50px;
	background-color: #355beb;
	color: #fff;
	border: none;
	width: 120px;
	height: 40px;
	margin-left: 5px;
	cursor: pointer;
}
.file {
	
}
/* .dynamic-file{
	display: none
} */