@charset "UTF-8";
*{
	box-sizing: border-box;
}

 body {
    background: url("../img/bg.jpg") no-repeat center top fixed;
    font-family: "pretendard", sans-serif;
	font-style: normal;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
h2 {
	font-size: 26px;
}
p {
	font-size: 18px;
	margin-top: 10px;
}
a {
	font-size: 18px;
}
.container {
	max-width: 900px;
    margin: auto;
    position: relative;
    background-color: white;
    padding: 50px 30px;
    border-radius: 10px;
    margin: 70px auto;
}
.aa {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.profile-container {
    display: flex;
    flex-direction: column;
    width: 540px;
}
.profile-info {
	display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.profile-img {
    width: 170px;
    height: 200px;
}
.profile-info h3 {
    margin: 0;
}
button {
    color: #373f73;
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
}
.profile-details {
	display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.detail-item {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
    width: 100%;
    line-break: anywhere;
}

input[type="password"] {
	width: 150px;
	height: 30px;
}
.label {
    font-weight: bold;
    margin-right: 5px;
    font-size: 15px;
}
#number, #mail, #password, #confirm-password{
	grid-column: span 2;
}

.education-info, .career-info {
	margin-top: 30px;
}
.education-info, .career-info {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.education-action, career-action {
	display: flex;
}
input[type="button"] {
    background: #5550d0;
    color: #fff;
    border: none;
    padding: 18px 53px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 17px;
}
.lschool {
	display: none;
}
label {
	font-size: 12px;
}
.lschool-post {
	display: block;
	background-color: #f3f6ff;
	border-radius: 10px;
	padding: 20px;
	color: #373f73;
}
.career-post {
	display: none;
}
.mycareer {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f6ff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    color: #373f73;
}
.selfinfo {
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.selfinfo-box {
	margin-top: 30px;
}
#uploadForm input[type="file"]{
	display: none;
}
#uploadForm label {
    color: #373f73;
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
}
.attachment-item {
    background: #f3f6ff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back {
	text-align: center;
	margin-top: 40px;
}