@charset "UTF-8";
*{
	box-sizing: border-box;
}

.dpnone{
	display: none;
}
body {
    background: url("../img/bg.jpg") no-repeat center top fixed;
    font-family: "pretendard", sans-serif;
	font-style: normal;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
h2 {
	font-size: 26px;
}
p {
	font-size: 18px;
	margin-top: 10px;
}
a {
	font-size: 18px;
}
.container {
    max-width: 900px;
    margin: auto;
}
.post-box, .comment-box {
	position: relative;
    background-color: white;
    padding: 50px 30px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
}
.post-top{
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.post-top p{
	font-size: 15px;
	color: #969696;
	margin-top: 5px;
}
.post-type{
	background-color: #355beb;
	color : white;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center; 
	border-radius: 5px;
	font-size: 14px;
}
#file {
	display: none;
}
#fileBtn{
	width: 50%;
	background-color: #969696;
	margin-top: 10px;
}
.modify{
	display: flex;
	align-items: center;
    justify-content: flex-end;
}
.modify input[type="button"]{
	border-radius: 50px;
	background-color: #355beb;
	color: #fff;
	border: none;
	width: 18%;
	height: 50px;
	margin-left: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 30px;
}
#new-comment{
	width:79%;
	height: 50px;
	border-radius: 5px;
}
#add-comment{
	width: 20%;
	height: 50px;
	vertical-align: bottom;
	background-color: #355beb;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.comments-top{
	display : flex;
	justify-content: space-between;
    align-items: center;
}
.comments{
	border: 1px solid #000;
	margin-top: 10px;
	padding: 7px;
	border-radius: 5px;
}
.comments hr{
	border: 1px dashed #000;
}
.comments-top input[type="button"]{
	background-color: #969696;
	color: white;
	border: none;
	border-radius : 15px;
	width: 55px;
	cursor: pointer;
}
.button{
	width: 130px;
	height: 50px;
	background-color: #355beb;
	color: white;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}
