@charset "UTF-8";
*{
	box-sizing: border-box;
}
body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
	position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
}
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.tab {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}
.active {
    font-weight: bold;
    border-bottom: 2px solid black;
}
input {
	margin-bottom: 5px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.feedback {
	font-size: 13px;
	text-align: left;
	color: red;
	margin-bottom: 6px;
}
.success {
	color: green;
}
#userId-feedback, #userPw-feedback, #userName-feedback, #userNick-feedback, #userBirth-feedback, #userNumber-feedback, #userEmail-feedback,
#companyNumber-feedback, #pw-feedback, #ceoName-feedback, #companyName-feedback, #businessType-feedback, #number-feedback{
	display: none;
}
.flex{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex input[type="text"]{
	width: 65%;
}
.actions {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 35px;
}
.btn {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.back {
    position: absolute;
    top: 0px;
    left: 14px;
    font-size: 30px;
    cursor: pointer;
}